.chatting-section {
  min-width: 600px;
  flex: 2 2 600px;
  display: flex;
  flex-direction: column;

  .message-input-wrapper {
    flex: 0 0 50px;
    height: 50px;
    padding: 0.2rem;
    display: flex;
    align-items: center;

    .message-input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 50px;
      padding-left: 2rem;
      padding-right: 5rem;
    }

    .send-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
  }
}