@import '../../assets/css/variables';

div {
  border: 1px solid black;
}
.chatting {
  width: 100%;
  height: 90vh;
  min-height: 600px;
  min-width: 900px;
  background-color: $main-background-color;
  display: flex;
  flex-direction: row;
}